body {
    background-color: antiquewhite;
}
h1 {
    font-size: 100px;
    margin-top: 15px;
    margin-bottom: 20px;
}
h4 {
    margin-top: 20px;
    margin-bottom: 15px;
    float: none;
    color: maroon;
    background-color: maroon;
    padding: 0,2%;
    width: 100%;
}
h2 {
    font-size: 30px;
    color: white;
    background-color: maroon;
    outline: rgb(248, 216, 177);
    padding: 2%;
    width:30%;
    float: left;
    margin-top: 20px;
}
h3 {
    font-size: 30px;
    color: white;
    background-color: maroon;
    outline: rgb(248, 216, 177);
    padding: 2%;
    width:30%;
    float: right;
    margin-top: 20px;
}
h5 {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 20px;
}
h6 {
    font-size: 20px;
    color: black;
    margin: 20px;
    margin-top: 10px;
    text-align: center;
}
p {
    background-color: maroon;
    color: white;
    padding: 1%;
    text-align: center;
    border-radius: 15%;
    font-size: 25px;
    margin-top: 20px;
    width: 10%;
    align-content: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}
ul li {
    float: inline-start;
    width: 20%;
}
ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    background-color: rgb(248, 216, 177);
    font-size: 20px;

}
ul li a:hover {
    background-color: maroon;
    color: white;
}
li a.active {
background-color: maroon;
color: white;
}
img {
    border: 5px solid rgb(248, 216, 177);
    margin-top: 20px;
    margin-bottom: 20px;
}