body {
    background-color: antiquewhite;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
}
ul li {
    float: left;
}
ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(250, 227, 198);
}
ul li a:hover {
    background-color: maroon;
    color: white;
}